@font-face {
	src: url(../fonts/gilroylight.woff) format("woff");
	src: url(../fonts/gilroylight.woff2) format("woff2");
	font-family: "Gilroy";
}

@font-face {
	src: url(../fonts/gilroyextrabold.woff) format("woff");
	src: url(../fonts/gilroyextrabold.woff2) format("woff2");
	font-family: "Gilroy";
	font-weight: bold;
}

@font-face {
	src: url(../fonts/opensans.woff) format("woff");
	src: url(../fonts/opensans.woff2) format("woff2");
	font-family: "OpenSans";
}

@font-face {
	src: url(../fonts/opensanslight.woff) format("woff");
	src: url(../fonts/opensanslight.woff2) format("woff2");
	font-family: "OpenSans";
	font-weight: lighter;
}

html {
	height: 100%;
	box-sizing: border-box;

}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 1440px;
	margin: 0 auto;

	font-family: "OpenSans", "Arial", sans-serif;

	color: #000000;


}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}


ul {
	display: flex;
	padding: 0;
	margin: 0;

	list-style-type: none;
}



.visually_hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button,
button.button {
	position: relative;

	display: block;
	height: 40px;
	padding-top: 10px;


  font-family: "Gilroy";
  font-weight: bold;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3.6px;

  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: transparent;

  box-sizing: border-box;

  
}

.button::after,
button.button::after {
	content: "";

	position: absolute;
	top: 17px;
	z-index: -1;

	display: block;
	width: 100%;
	
  height: 8px;
  width: 100%;

  background-color: #f0c52e;
}

.button:hover::after,
button.button:hover::after {
	top: 0;
	height: 100%;
}

.button:active,
button.button:active {
	color: rgba(0, 0, 0, 0.3);
}



/*HEADER*/

.main_header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	
	width: 1160px;
	margin-top: 25px;
	padding-right: 61px;
	padding-left: 57px;
	padding-bottom: 55px;
	box-sizing: border-box;

	background-color: #f7e296;

	
}

.logo {
	display: block;
	height: 36px;
	margin-top: -30px;
	  
  font-size: 48px;
  font-weight: 800;
  font-family: "Gilroy", "Arial", sans-serif;
  
  letter-spacing: 0.5px;
 
}

.main_header .logo:hover {
	color: rgba(0, 0, 0, 0.6);
}

.main_header .logo:active {
	color: rgba(0, 0, 0, 0.3);
}




.main_header .client {
	display: flex;
	height: 30px;
	align-items: center;

	margin-top: 36px;
	margin-bottom: 40px;

	line-height: 2;
	font-family: "OpenSans", "Arial", sans-serif;
}


.client form {
	position: relative;

	display: flex;
	width: 441px;
	height: 49px;
}

.client form::before {
	content: "";

	position: absolute;
	top: 19px;
	left: 4px;

	display: block;
	width: 16px;
  height: 16px;

  background: url("../img/search.svg") no-repeat;

}

.client label {
	position: absolute;
	left: 40px;
	top: 10px;
	z-index: 1;

	display: block;

	color: rgba(0, 0, 0, 0.3);
	line-height: 2;
}

.client label:hover {
	color: rgba(0, 0, 0, 0.6);
}

.client input:focus {
	border-bottom: 2px solid #000000; 
	outline: none;
}

.client input:focus~label {
	display: none;
}

.client input {
	height: 47px;
	width: 350px;
	padding-left: 40px;

	font-size: inherit;
	font-family: inherit;

	color: inherit;
	border: none;
	background-color: inherit;
}

.client button {
	visibility: hidden;

	display: block;
	width: 85px;
  height: 51px;

	font-size: inherit;
	font-family: inherit;

	background-color: inherit;
	border: 2px solid #000000;
}

.client button:hover {	
  background-color: #000000;
  border: solid 2px #000000;
  color: #ffffff;
}

.client button:active {
	color: rgba(255, 255, 255, 0.3);
}

.client input:focus~button {
	visibility: visible;
}


.user_control {
	display: flex;
	margin-left: auto;
	width: 472px;
}

.user_control .log {
	color: #000000;
}

.user_control .log_in {
	position: relative;

	color: inherit;
}

.user_control .log_in::before {
	content: "";

	position: absolute;
	top: 6px;
	left: -27px;

	display: block;
	width: 13px;
  height: 12px;

  background: url("../img/user_header.svg") no-repeat;
}

.user_control .log_in:active::before,
.user_control .compare:active::before,
.user_control .cart:active::before {
	opacity: .25;
}

.log .log_out {
	margin-left: 20px;
	color: rgba(0, 0, 0, 0.3);
}

.hidden {
	visibility: hidden;
}

.user_items {
	margin-left: auto;
}

.main_header .compare {
	position: relative;

	min-width: 69px;
	
	color: inherit;
}

.main_header .compare::before {
	content: "";

	position: absolute;
	top: 8px;
	left: -20px;

	display: block;
	width: 13px;
  height: 12px;

  background: url("../img/compare_header.svg") no-repeat;
}



.main_header .cart {
	position: relative;

	margin-left: 58px;

	color: inherit;
}

.main_header .cart::before {
	content: "";

	position: absolute;
	top: 6px;
	left: -19px;

	display: block;
	width: 13px;
  height: 12px;

  background: url("../img/cart_header.svg") no-repeat;
}




.nav li {
	display: block;

	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3.6px;
	line-height: line-height: 1.33;
}


.catalog {
	position: relative;

	min-width: 220px;
}

.catalog:hover .items_catalog {
	display: flex;
}

.catalog::before {
	content: "";

	position: absolute;
	top: 2px;
	right: -26px;
	z-index: 100;

	display: block;
	width: 16px;
  height: 16px;
  opacity: 0.3;

  background: url("../img/plus.svg") no-repeat;
}

.items_catalog  {
	position: absolute;	
	left: -57px;
	top: 20px;
	z-index: 3;

	display: none;
	/*flex-direction: column;*/
	width: 1160px;
	padding-left: 60px;
	padding-top: 14px;
	padding-bottom: 41px;
	box-sizing: border-box;

	font-size: 15px;

	background-color: #f7e296;
}

.items_catalog ul {
	display: flex;
	flex-direction: column;
	margin-right: 58px;
}

.items_catalog li {
	margin-top: 16px;
	width: auto;
}

.items_catalog li:first-of-type {
	margin-left: 0;
}



.items_catalog a {
	font-size: 15px;
	font-family: "OpenSans", "Arial", sans-serif;
	text-transform: none;
	letter-spacing: 0.2px;
}



.nav .delievery {
	margin-left: auto;
}

.nav .warranty {
	margin-left: 32px;
}

.nav .contacts {
	margin-left: 105px;
}

.nav a:hover,
.client a:hover  {
	color: rgba(0, 0, 0, 0.6);
}

.nav a:active,
.client a:active {
	color: rgba(0, 0, 0, 0.3);
}





/*FOOTER*/

.main_footer {
	display: flex;
	/*justify-content: space-around;*/

	width: 100%;
	height: 323px;
	padding-top: 70px;
	padding-right: 140px;
	padding-bottom: 0;
	margin-top: 80px;
	box-sizing: border-box;


	background-color: #464646;
}

.main_footer p {
	padding: 0;
	margin: 0;
}

.main_footer .info {
	position: relative;
	display: block;
	flex-shrink: 0;

	margin-bottom: 168px;
	margin-left: 139px;
}

.main_footer .info::after {
	content: "";

	position: absolute;
	bottom: -90px;
	left: 2;

	display: block;
	width: 80px;
  height: 7px;
  background-color: #ffc600; 
}

.main_footer .logo {
	margin-left: 0;
	margin-top: -15px;
	font-size:  48px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;

	color: #ffc600;
}

.info .logo:hover {
	color: rgba(255, 198, 0, 0.6);
}

.info .logo:active {
	color: rgba(255, 198, 0, 0.3);
}

.info .address {
	display: block;
	margin-top: 39px;

	font-size: 15px;
	font-family: "OpenSans", "Arial", sans-serif;
	line-height: 2;

	color: #ffffff;

}

.user_nav {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	margin-left: 165px;
	margin-right: 62px;
}

.footer_nav ul {
	display: flex;
}

.footer_nav li:first-of-type {
	margin-left: 0;
}

.footer_nav li {
	margin-left: 35px;
}

.footer_nav a {
	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: bold;
	letter-spacing: 3.6px;

	color: #ffffff;
	text-transform: uppercase;
}

.footer_nav li:hover a {
	color: rgba(255, 255, 255, 0.6);
}

.footer_nav li:active a {
	color: rgba(255, 255, 255, 0.3);
}


.social ul {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 65px;
	padding-left: 15px;

	box-sizing: border-box;
}

.social li {
	margin-right: 23px;
}

.social li:last-of-type {
	margin-right: none;
}

.social .fb {
	display: block;
	width: 32px;
  height: 32px;

  background: url(../img/fb.svg) no-repeat;
  opacity: 0.3;
}

.social .inst {
	display: block;
	width: 32px;
  height: 32px;

  background: url(../img/inst.svg) no-repeat;
  opacity: 0.3;
}

.social .tw {
	display: block;
	width: 32px;
  height: 32px;

  background: url(../img/tw.svg) no-repeat;
  opacity: 0.3;
}

.social li:hover a {
	opacity: 0.6;
}

.social li:active a {
	opacity: 0.1;
}


.authorisation {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	color: #ffffff;
}

.main_footer .client {
	display: flex;
}

.main_footer .log {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-right: 64px;
}

.main_footer .client a {
	font-size: 15px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: lighter;

	color: rgba(255, 255, 255, 0.7);
}

.main_footer .client a:hover {
	color: #ffffff;
}

.main_footer .log_in {
	position: relative;
}

.main_footer .log_in::before {
	content: '';
	position: absolute;
	left: -25px;
	top: 4px;


	display: block;
	width: 13px;
  height: 12px;

  background: url(../img/user_footer.svg) no-repeat;

}


.main_footer .compare {
	position: relative;

	margin-right: 65px;
}

.main_footer .compare::before {
	content: '';
	position: absolute;
	left: -20px;
	top: 5px;


	display: block;
	width: 13px;
  height: 12px;

  background: url(../img/compare_footer.svg) no-repeat;

}

.main_footer .cart {
	position: relative;
}

.main_footer .cart::before {
	content: '';
	position: absolute;
	left: -23px;
	top: 4px;


	display: block;
	width: 13px;
  height: 12px;

  background: url(../img/cart_footer.svg) no-repeat;

}


.main_footer .client a:hover::before,
.main_footer .client a:hover::before,
.main_footer .log li:hover::before {
	opacity: 0.6;
}
.main_footer .client a:active::before,
.main_footer .client a:active::before,
.main_footer .log li:active::before {
	opacity: 0.3;

}

.main_footer .client a:active,
.main_footer .tel:hover, 
.main_footer .tel:hover a {
	color: rgba(255, 255, 255, 0.3);

}


.authorisation .tel {
	margin-top: 40px;
	margin-bottom: 60px;

	font-size: 15px;
  font-weight: 300;
  
  line-height: 2;
 
}

.authorisation a {
	color: #ffffff;

	font-size: 15px;
  font-weight: 300;
}

.main_footer .copyright {
	display: block;
	width: 27px;
  height: 35px;

  background: url(../img/logo_html.svg) no-repeat;
}

.main_footer .copyright:hover {
	opacity: 0.6;
}

.main_footer .copyright:active {
	opacity: 0.3;
}







main {
	width: 1160px;
}


.slider .top {
	display: flex;
	justify-content: flex-end;
	height: 100px;
	background-color: #f7e296;
}

.slider .number {
	position: relative;
	z-index: 1;

	margin: 0;
	margin-top: -30px;
	margin-right: 50px;
	padding: 0;

  font-family: Gilroy;
  font-size: 179.2px;
  font-weight: 800;  
  
  color: #ffffff;
}

.slider .description::before {
	content: "";

	position: absolute;
	top: 40px;
	left: 0px;

	display: block;
	width: 100px;
  height: 7px;
  background-color: #ffffff; 
}

.slider .middle {
	display: flex;
	margin-top: -110px;
	padding-right: 60px;
}

.slider img {
	margin: auto;
	/*margin-top: -80px;*/
	
	
}

.slider .description {
	position: relative;
	display: flex;
	width: 500px;
	padding-top: 80px;
	margin-left: auto;
	flex-direction: column;
} 

.slider b {
	position: relative;
	z-index: 2;

	width: 100%;
	margin-bottom: 8px;

	font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;  
  line-height: 1.19;
  
  color: #000000;
}

.slider p {
	margin-bottom: 40px;
	
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  
  line-height: 2;
  
  color: #464646;
}

.slider .buttons {
	display: flex;
}

.slider .button {
	width: 220px;
	margin-bottom: 50px;
	/*margin-right: 170px;*/
}

.slider .switch {
	margin-left: auto;
}


.slider .table {
	display: flex;
}

.slider .table p {
	margin: 0;
	margin-right: 78px;
	padding: 0;

	font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  
  line-height: 1.54;
  letter-spacing: 0.1px;
  
  color: #464646;

}

.slider p:last-of-type {
	margin-right: 0;
}

.slider .table span {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: -10px; 

	font-size: 36px;
  font-weight: 300;
  font-family: Gilroy;
  
  line-height: 1.33;
  letter-spacing: 0.4px;
  
  color: #000000;
}

.mini_menu {
	margin-top: 100px;
	margin-bottom: 65px;
}

.mini_menu .list {
	display: flex;
	justify-content: space-between;
}

.mini_menu li {
	width: 160px;
}

.mini_menu .picture {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #f7e296;
}

.mini_menu .picture::before {
	content: '';

	position: absolute;

	display: block;

}

.virtual_reallity .picture::before {
	left: 31px;
	top: 52px;

	width: 97px;
  height: 55px;
	background: url(../img/popular-1.svg) no-repeat;
}

.monopod .picture::before {
	left: 38px;
	top: 41px;

	width: 86px;
  height: 117px;
	background: url(../img/popular-2.svg) no-repeat;
}

.action .picture::before {
	left: 49px;
	top: 38px;

	width: 71px;
  height: 87px;
	background: url(../img/popular-3.svg) no-repeat;
}

.bracer .picture::before {
	left: 28px;
	top: 50px;

	width: 107px;
  height: 65px;
	background: url(../img/popular-4.svg) no-repeat;
}

.watch .picture::before {
	left: 55px;
	top: 32px;

	width: 56px;
  height: 98px;
	background: url(../img/popular-5.svg) no-repeat;
}

.quadro .picture::before {
	left: 13px;
	top: 49px;

	width: 132px;
  height: 69px;
	background: url(../img/popular-6.svg) no-repeat;
}

.mini_menu p {	
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  
  line-height: 1.33;
  letter-spacing: 0.2px;
  
  color: #000000;
}

.mini_menu li:hover .picture {
	background-color: #f0c52e;
}

.mini_menu li:active .picture::before,
.mini_menu li:active p {
	opacity: 0.3;
}

.mini_menu li:active .picture {
	background-color: #f0c52e;
}








.slider_features {
	position: relative;

	display: flex;
	padding-bottom: 65px;
	margin-bottom: 95px;
	box-sizing: border-box;

	background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}



.slider_features ul {
	display: flex;
	flex-direction: column;
	min-width: 280px;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	padding-bottom: 50px;

	border-right: 7px solid #000000;
	box-sizing: border-box;
}

.slider_features .button {
	position: relative;
	z-index: 1;

	width: 160px;
	min-height: 40px;
	margin-bottom: 23px;

  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
 
  line-height: 1.33;
  letter-spacing: 3.6px;
  
}

.slider_features .button:active::after {

	width: 278px;

	background-color: #000000;
}

.slider_features .button:active,
.slider_features .button.current {
	color: #f7e184;
}

.slider_features .button.current::after {
	top: 0;

	width: 278px;
	height: 100%;

	background-color: #000000;
}

.slider_features .slide {
	position: relative;

	width: 440px;
	margin-left: 120px;
	padding-top: 75px;
}

.slider_features .slide::after {
	content: '';

	position: absolute;
	right: -255px;
	top: 65px;

	display: block;	
}

.slider_features .first::after {
	top: 85px;
	width: 136px;
  height: 164px;

	background: url(../img/delivery.svg) no-repeat;
}

.slider_features .second::after {
	width: 170px;
  height: 194px;

	background: url(../img/warranty.svg) no-repeat;
}

.slider_features .third::after {
	width: 156px;
  height: 186px;

	background: url(../img/credit.svg) no-repeat;
}

.slider_features h2 {
	margin: 0;
	margin-bottom: 30px;
	font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  
  line-height: 1.02;
  letter-spacing: 0.5px;
  
  color: #000000;
}

.slider_features p {
	padding: 0;
	margin: 0;
  font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  
  line-height: 2;

  color: #464646;
}


.companies {
	display: flex;
	justify-content: space-between;

	margin-bottom: 93px;
	
}

.companies img {
	filter: grayscale(100%);
	opacity: 0.2;
}

.companies a:hover img {
	opacity: 1;
	filter: none;
}


.more_info {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.more_info .about_us,
.more_info .contacts {
	position: relative;

	padding-top: 10px;
}

.more_info .about_us::before,
.more_info .contacts::before {
	content: '';

	position: absolute;
	left: 0;
	top: -2px;

	width: 80px;
  height: 7px;

  background-color: #000000;
}

.more_info .about_us {
	width: 500px;
}

.more_info .about_us p:first-of-type {
	margin-bottom: 30px;
}

.more_info .about_us p:last-of-type {
	margin-bottom: 65px;
}

.more_info .contacts {
	width: 560px;
}

.more_info .contacts p:first-of-type {
	margin-bottom: 40px;
}

.contacts img {
	margin-bottom: 50px ;
}

.more_info h2 {
	margin-bottom: 45px;

  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  
  line-height: 1.02;
  letter-spacing: 0.5px;
}

.more_info p {
	margin: 0;
	padding: 0;

	font-family: OpenSans;
  font-size: 15px;
  font-weight: 300;
  
  line-height: 2;
  
  color: #464646;
}

.more_info ul {
	flex-direction: column;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	margin-bottom: 55px;

	list-style: outside url(../img/list.svg);
}

.more_info li {
	padding-left: 15px;
	margin-bottom: 0px;
}

.more_info a {
	font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
}

.more_info .button {
	width: 260px;
	margin: 0;

	font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  
  line-height: 1.33;
  letter-spacing: 3.6px;
}






main.inner {
	width: 1440px;
}

.inner .page_name {
	padding: 0 200px;
	margin-bottom: 50px;
}

.page_name h1 {
	margin: 0;
	padding: 0;
	margin-top: 45px;
	margin-bottom: 30px;

  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  
  line-height: 1.02;    
}

.breadcrumbs li {
	position: relative;

	margin-right: 40px;
}

.breadcrumbs li::before {
	content: '';

	position: absolute;
	left: -20px;
	top: 8px;

	display: block;
	width: 4px;
  height: 7px;

  background: url(../img/nav_arrow.svg) no-repeat;
}

.breadcrumbs li:first-of-type::before {
	display: none;
}

.breadcrumbs a {

  font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
 
  line-height: 1.71;
 
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li:hover a {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:active a {
	color: rgba(0, 0, 0, 0.1);
}




.inner .container {
	display: flex;
}



.inner .filter {
	display: block;
	width: 470px;

	background-color: #eeeeee;
	box-sizing: border-box;
} 

.inner .filter > div {
	display: block;
	padding: 25px 0;
	padding-left: 200px;
	background-color: #dbdbdb;

	box-sizing: border-box;
}

.filter > div b,
.sort b {
	text-transform: uppercase;
}

.inner b {

  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
 
  line-height: 1.5;
}

.filter_inner {
	width: 200px;
	padding-top: 70px;
	padding-left: 200px;

	font-family: OpenSans;
  font-size: 14px;
  font-weight: 300;
  
  line-height: 2.86;
}

.filter_inner b {
	position: relative;
	
	display: inline-block;
	margin-bottom: 30px;
}

.filter_inner b::before {
 content: '';

 position: absolute;
 left: 0;
 top: -15px;

 display: block;
 width: 200px;
 height: 2px;

 background-color: #000000;

}

.filter_inner .price {
	height: 140px;
}

.filter_inner .color {
	margin-bottom: 40px; 
  
}

.filter_inner .bluetooth {
	margin-bottom: 50px;
}


.filter_inner ul {
	display: flex;
	flex-direction: column;
}

.color_list label {
	position: relative;

	padding-left: 40px;
}


.color_list input[type="checkbox"] + .checkbox_indicator {
	position: absolute;
	top: -3px;
	left: 0px;
	display: block;
	width: 23px;
  height: 23px;

  background: url(../img/checkbox.svg) no-repeat;

  

  box-sizing: border-box;
}

.color_list input[type="checkbox"]:hover + .checkbox_indicator,
.color_list input[type="checkbox"]:checked:hover + .checkbox_indicator,
.bluetooth input[type="radio"]:hover + .radio_indicator,
.bluetooth input[type="radio"]:checked:hover + .radio_indicator {
	opacity: 0.6;
}

.color_list input[type="checkbox"]:checked + .checkbox_indicator {
	width: 26px;
	border: none;
	background: url(../img/checkbox_on.svg) no-repeat;

}


.bluetooth label {
	position: relative;

	padding-left: 40px;
}

.block input[type="checkbox"] + .checkbox_indicator,
.block input[type="radio"] + .radio_indicator {
	opacity: 0.25;	
}

.block {
	color: #a6a6a6;
}

.block input[type="checkbox"]:hover + .checkbox_indicator,
.block input[type="radio"]:hover + .radio_indicator {
	opacity: 0.25;
}



.bluetooth input[type="radio"] + .radio_indicator {
	position: absolute;
	top: -4px;
	left: 0px;
	display: block;
	width: 25px;
  height: 25px;

  background: url(../img/radio.svg) no-repeat;

  

  box-sizing: border-box;
}


.bluetooth input[type="radio"]:checked + .radio_indicator {
	width: 26px;
	border: none;
	background: url(../img/radio_on.svg) no-repeat;

}



.filter_inner .button {
	z-index: 0;

	width: 200px;
	padding: 0;
}

.filter_inner .button::after {
	top: 16px;
	z-index: -1;
}


.items_list .sort {
	display: flex;
	padding: 25px 0;
	padding-left: 75px;
	padding-right: 140px;
	background-color: #efefef;
}

.items_list .sort b {
	margin-right: 55px;
}

.sort_by li {
	margin-right: 30px;
}

.sort_by a {
  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  
  line-height: 1.29;
  
   color: rgba(0, 0, 0, 0.3);
}

.sort_by a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort_by a.active,
.sort_by li:active a {
	color: #000000;
}

.items_list .peak {
	margin-left: auto;
	align-self: center;
}

.items_list .peak a {
	display: block;
	width: 11px;
  height: 10px;
}

.items_list .peak li:first-of-type a {
	margin-right: 20px;
	opacity: 0.2;
	background: url(../img/icon_up.svg) no-repeat;
}

.items_list .peak li:last-of-type a {
	opacity: 0.2;
	background: url(../img/icon_down.svg) no-repeat;
}



.items_list .peak li:hover a {
	opacity: 0.4;
}

.items_list .peak li.active a,
.items_list .peak li:active a {
	opacity: 1;
}


.inner_catalog {
	display: flex;
	flex-wrap: wrap;
	width: 970px;
	padding-top: 70px;
	padding-left: 70px;
	padding-bottom: 75px;

	box-sizing: border-box;
}


.inner_catalog .item {
	position: relative;

	display: flex;
	flex-direction: column;
	margin-right: 40px;
	margin-bottom: 50px;
}

.inner_catalog .item_img {
	position: relative;
	margin-bottom: 35px;
}

.item .item_img:hover .hover {
	display: flex;
}

.item .hover {
	position: absolute;
	z-index: 1;
	top: 0;
	
	display: none;
	flex-direction: column;
	align-items: center;
	padding-top: 170px;
	width: 100%;
	height: 380px;

	background-color: rgba(238, 238, 238, 0.7);
	box-sizing: border-box;
}

.item .hover .button {
	z-index: 0;

	width: 200px;
}

.item .hover .add_to_compare {

  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  
  line-height: 2.77;
  
  color: rgba(0, 0, 0, 0.5);
}

.item .add_to_compare:hover {
	color: #000000;
}

.item .add_to_compare:active {
	opacity: 0.2;
}


.inner_catalog .description a {
	display: inline-block;
	width: 260px;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  
  line-height: 1.33;
 
  color: #000000;
}
.inner_catalog .description span {
	display: block;
	float: right;


  font-family: Gilroy;
  font-size: 16px;
  font-weight: 300;
 
  line-height: 1.5;
  
  color: #464646;
}


.paginator {
	display: flex;
	margin-left: 70px;
	width: 760px;
	padding: 30px;
	margin-top: -50px;
	margin-bottom: 70px;

	background-color: #efefef;

	box-sizing: border-box;
}

.paginator .next {
	margin-left: auto;
}

.paginator .pages {
	margin-left: auto;
}

.paginator li {
	margin-right: 20px;
}

.paginator a {

  font-family: Gilroy;
  font-size: 16px;
  font-weight: 800;
  
  line-height: 1.5;
  letter-spacing: 3.2px;

  text-transform: uppercase;
  
}

.pages .current {
	color: #000000;
}

.pages a {
	color: rgba(0, 0, 0, 0.3);
}




.inner_footer {
	margin-top: 5px;
}


.modal_popup {
	position: fixed;
	z-index: 100000000;
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

	display: block;
	
	padding: 100px;
	padding-bottom: 80px;

	background-color: #ffffff;
	box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);


  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
 
  line-height: 1.33;

}

.modal_popup form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.modal_popup .before_text {
	display: flex;
}

.modal_popup .name,
.modal_popup .e-mail {
	width: 360px;
	height: 50px;
}

.modal_popup .name input,
.modal_popup .e-mail input,
.modal_popup .message textarea {
	box-sizing: border-box;
	margin-top: 5px;
	padding: 20px;
	width: 100%;
	height: 100%;

	border: none;
	background-color: #f2f2f2;

  font-family: OpenSans;
  font-size: 14px;
  font-weight: normal;
  
  line-height: 1.29;
 
  color: rgba(70, 70, 70, 0.4);
}

.modal_popup .name {
	margin-right: 40px;
}

.modal_popup .message {
	display: block;
	margin-top: 50px;
	width: 760px;
	min-height: 155px;

}

.modal_popup .message textarea {
	
	width: 760px;
	height: 155px;
	resize: none;
}

.modal_popup .name:hover input,
.modal_popup .e-mail:hover input,
.modal_popup .message:hover textarea {
	background-color: #eaeaea;
}

.modal_popup .name input:focus,
.modal_popup .e-mail input:focus,
.modal_popup .message textarea:focus {
	background-color: #ffffff;
  border: solid 3px #f0c52e;
  outline: none;
  color: #000000;
}

.modal_popup .invalid input,
.modal_popup .invalid textarea {
	background-color: #edb5b5;
	opacity: 0.5;
}

.modal_popup .button {
	width: 200px;
	margin-top: 30px;
	padding: 0;
}

.popup_close {
	position: absolute;
	top: 22px;
	right: 22px;

	width: 55px;
  height: 55px;

  border: none;
  background-color: #f0c52e;
  opacity: 0.5;
  border-radius: 30px;
}

.popup_close:hover {
	opacity: 1;
}

.popup_close:active {
	opacity: 0.3;
}

.popup_close::before,
.popup_close::after {
	content: "";

  position: absolute;
  top: 26px;
  right: 12px;

  width: 30px;
  height: 2px;

  background-color: #ffffff;
}

.popup_close::before {
  transform: rotate(45deg);
}

.popup_close::after {
  transform: rotate(-45deg);
}

.none {
	display: none;
}
