@font-face {
	src: url(../fonts/gilroylight.eot) format("embedded-opentype");
	src: url(../fonts/gilroylight.woff) format("woff");
	
	font-family: "Gilroy";
}

@font-face {
	src: url(../fonts/gilroyextrabold.eot) format("embedded-opentype");	
	src: url(../fonts/gilroyextrabold.woff) format("woff");
	
	font-family: "Gilroy";
	font-weight: 800;
}

@font-face {
	src: url(../fonts/opensans.eot) format("embedded-opentype");
	src: url(../fonts/opensans.woff) format("woff");
	
	font-family: "OpenSans";
	
}

@font-face {
	src: url(../fonts/opensanslight.eot) format("embedded-opentype");
	src: url(../fonts/opensanslight.woff) format("woff");
	
	font-family: "OpenSans";
	font-weight: 300;
}

html {
	height: 100%;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;

}

body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	
	width: 1440px;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 0;

	font-family: "OpenSans", "Arial", sans-serif;

	color: #000000;


}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}


.visually_hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button,
button.button {
	position: relative;

	display: block;
	min-height: 40px;
	padding-top: 10px;


	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 3.6px;

	text-align: center;
	text-transform: uppercase;
	border: none;
	background-color: transparent;

	-webkit-box-sizing: border-box;

					box-sizing: border-box;

	
}

.button::after,
button.button::after {
	content: "";

	position: absolute;
	top: 46%;
	z-index: -1;

	display: block;
	width: 100%;
	
	height: 8px;
	width: 100%;

	background-color: #f0c52e;
}

.button:hover::after,
button.button:hover::after {
	top: 0;
	height: 100%;
}

.button:active,
button.button:active {
	color: rgba(0, 0, 0, 0.3);
}



/*HEADER*/

.main_header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	
	width: 1160px;
	margin-top: 25px;
	padding-right: 60px;
	padding-left: 59px;
	padding-bottom: 50px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;

	background-color: #f7e296;

	
}

.logo {
	display: block;
	/*height: 36px;*/
	margin-top: -28px;
	margin-left: -2px;
		
	font-size: 48px;
	font-weight: 800;
	font-family: "Gilroy", "Arial", sans-serif;
	
	letter-spacing: 0.5px;
 
}

.main_header .logo:hover {
	color: rgba(0, 0, 0, 0.6);
}

.main_header .logo:active {
	color: rgba(0, 0, 0, 0.3);
}




.main_header .client {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 30px;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;

	margin-top: 16px;
	margin-bottom: 40px;

	line-height: 2;
	font-family: "OpenSans", "Arial", sans-serif;
}


.client form {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	width: 439px;
	height: 49px;
}

.client form::before {
	content: "";

	position: absolute;
	top: 18px;
	left: 4px;

	display: block;
	width: 16px;
	height: 16px;

	background: url("../img/search.svg") no-repeat;

}

.client label {
	position: absolute;
	left: 40px;
	top: 10px;
	z-index: 1;

	display: block;

	font-size: 15px;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 0.2px;

	color: rgba(0, 0, 0, 0.3);
	line-height: 2;
}

.client label:hover {
	color: rgba(0, 0, 0, 0.6);
}

.client input:focus {
	border-bottom: 2px solid #000000; 
	outline: none;
}

.client input:focus~label {
	display: none;
}

.client input {
	height: 47px;
	width: 350px;
	padding-left: 40px;

	font-size: inherit;
	font-family: inherit;

	color: inherit;
	border: none;
	background-color: #f7e296;
}

.client button {
	visibility: hidden;

	display: block;
	width: 85px;
	height: 51px;

	font-size: inherit;
	font-family: inherit;

	background-color: #f7e296;
	border: 2px solid #000000;
}

.client button:hover {	
	background-color: #000000;
	border: solid 2px #000000;
	color: #ffffff;
}

.client button:active {
	color: rgba(255, 255, 255, 0.3);
}

.client input:focus~button {
	visibility: visible;
}


.user_control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	width: 472px;
}

.user_control .log {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;

	list-style-type: none;

	color: #000000;
}

.user_control .log_in {
	position: relative;

	color: inherit;
}

.user_control .log_in::before {
	content: "";

	position: absolute;
	top: 5px;
	left: -27px;

	display: block;
	width: 13px;
	height: 12px;

	background: url("../img/user_header.svg") no-repeat;
}
.user_control a {
	font-family: OpenSans;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 2;
	letter-spacing: 0.2px;
}

.user_control .log_in:active::before,
.user_control .compare:active::before,
.user_control .cart:active::before {
	opacity: .25;
}

.log .log_out {
	margin-left: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.hidden {
	visibility: hidden;
}

.user_items {	
	margin: 0;
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;

	list-style-type: none;
}

.main_header .compare {
	position: relative;

	min-width: 69px;
	
	color: inherit;
}

.main_header .compare::before {
	content: "";

	position: absolute;
	top: 7px;
	left: -20px;

	display: block;
	width: 13px;
	height: 12px;

	background: url("../img/compare_header.svg") no-repeat;
}

.main_header .cart {
	position: relative;

	margin-left: 62px;

	color: inherit;
}

.main_header .cart::before {
	content: "";

	position: absolute;
	top: 4px;
	left: -21px;

	display: block;
	width: 13px;
	height: 12px;

	background: url("../img/cart_header.svg") no-repeat;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;

	list-style-type: none;
}

.nav li {
	display: block;

	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 3.6px;
	line-height: 1.33;
}


.catalog {
	position: relative;

	min-width: 220px;
}

.catalog:hover .items_catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.catalog::before {
	content: "";

	position: absolute;
	top: 2px;
	right: -26px;
	z-index: 100;

	display: block;
	width: 16px;
	height: 16px;
	opacity: 0.3;

	background: url("../img/plus.svg") no-repeat;
}

.items_catalog  {
	position: absolute;	
	left: -59px;
	top: 17px;
	z-index: 3;

	display: none;
	width: 1160px;
	padding-left: 60px;
	padding-top: 13px;
	padding-bottom: 38px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;

	font-size: 15px;

	background-color: #f7e296;
}

.items_catalog ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	padding: 0;
	margin: 0;
	margin-right: 58px;

	list-style-type: none;
}

.items_catalog li {
	margin-top: 16px;
	width: auto;
}

.items_catalog li:first-of-type {
	margin-left: 0;
}



.items_catalog a {
	font-size: 15px;
	font-family: "OpenSans", "Arial", sans-serif;
	text-transform: none;
	letter-spacing: 0.2px;
}



.nav .delievery {
	margin-left: auto;
}

.nav .warranty {
	margin-left: 35px;
}

.nav .contacts {
	margin-left: 107px;
	margin-right: -3px;
}



.nav a:hover,
.client a:hover  {
	color: rgba(0, 0, 0, 0.6);
}

.nav a:active,
.client a:active {
	color: rgba(0, 0, 0, 0.3);
}





/*FOOTER*/

.main_footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	/*justify-content: space-around;*/

	width: 100%;
	height: 323px;
	padding-top: 72px;
	padding-right: 140px;
	padding-bottom: 0;
	padding-left: 140px;
	margin-top: 80px;
	margin-bottom: 0;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;


	background-color: #464646;
}

.main_footer p {
	padding: 0;
	margin: 0;
}

.main_footer .top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	margin-bottom: 22px;
}



.main_footer .logo {
	margin-left: -2px;
	margin-top: -15px;
	font-size:  48px;
	font-family: "Gilroy", "Arial", sans-serif;
	text-transform: uppercase;

	color: #ffc600;
}

.top .logo:hover {
	color: rgba(255, 198, 0, 0.6);
}

.top .logo:active {
	color: rgba(255, 198, 0, 0.3);
}


.main_footer .client {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
}

.main_footer .log {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	margin-right: 67px;

	list-style: none;
}

.main_footer .client a {
	font-size: 15px;
	font-family: "OpenSans", "Arial", sans-serif;
	font-weight: 300;

	color: rgba(255, 255, 255, 0.7);
}

.main_footer .client a:hover {
	color: #ffffff;
}

.main_footer .log_in {
	position: relative;
}

.main_footer .log_in::before {
	content: "";
	position: absolute;
	left: -27px;
	top: 4px;


	display: block;
	width: 13px;
	height: 12px;

	background: url(../img/user_footer.svg) no-repeat;

}

.top a.log_out {
	color: rgba(255, 255, 255, 0.3);
}


.main_footer .compare {
	position: relative;

	margin-right: 65px;
}

.main_footer .compare::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 5px;


	display: block;
	width: 13px;
	height: 12px;

	background: url(../img/compare_footer.svg) no-repeat;

}

.main_footer .cart {
	position: relative;
}

.main_footer .cart::before {
	content: "";
	position: absolute;
	left: -23px;
	top: 4px;


	display: block;
	width: 13px;
	height: 12px;

	background: url(../img/cart_footer.svg) no-repeat;

}


.main_footer .client a:hover::before,
.main_footer .client a:hover::before,
.main_footer .log li:hover::before {
	opacity: 0.6;
}
.main_footer .client a:active::before,
.main_footer .client a:active::before,
.main_footer .log li:active::before {
	opacity: 0.3;

}

.main_footer .client a:active,
.main_footer .tel:hover, 
.main_footer .tel:hover a {
	color: rgba(255, 255, 255, 0.3);

}

.main_footer .middle {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	margin-bottom: 65px;
}


.main_footer .middle::after {
	content: "";

	position: absolute;
	bottom: -85px;
	left: 0px;

	display: block;
	width: 80px;
	height: 7px;
	background-color: #ffc600; 
}

.middle .address {
	display: block;

	font-size: 15px;
	font-family: "OpenSans", "Arial", sans-serif;
	line-height: 2;
	font-weight: 300;

	color: #ffffff;

}

.middle .footer_nav {
	margin-left: auto;
}

.footer_nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0;

	margin-top: 6px;
	margin-left: -35px;

	list-style: none;
}

.footer_nav li:first-of-type {
	margin-left: 0;
}

.footer_nav li {
	margin-left: 33px;
}

.footer_nav a {
	font-size: 18px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-weight: 800;
	letter-spacing: 3.6px;

	color: #ffffff;
	text-transform: uppercase;
}

.footer_nav li:hover a {
	color: rgba(255, 255, 255, 0.6);
}

.footer_nav li:active a {
	color: rgba(255, 255, 255, 0.3);
}

.middle .tel {
	margin-left: auto;

	font-size: 15px;
	font-weight: 300;
	
	line-height: 2;
 
}

.middle .tel a,
.middle .tel {
	color: #ffffff;

	font-size: 15px;
	font-weight: 300;
}

.bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
			-ms-flex-pack: end;
					justify-content: flex-end;
}

.bottom .social {
	margin-right: 482px;
}

.social ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	width: 100%;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0;

	list-style-type: none;

	-webkit-box-sizing: border-box;

					box-sizing: border-box;
}

.social li {
	margin-right: 23px;
}

.social li:last-of-type {
	margin-right: 0;
}

.social .fb {
	display: block;
	width: 32px;
	height: 32px;

	background: url(../img/fb.svg) no-repeat;
	opacity: 0.3;
}

.social .inst {
	display: block;
	width: 32px;
	height: 32px;

	background: url(../img/inst.svg) no-repeat;
	opacity: 0.3;
}

.social .tw {
	display: block;
	width: 32px;
	height: 32px;

	background: url(../img/tw.svg) no-repeat;
	opacity: 0.3;
}

.social li:hover a {
	opacity: 0.6;
}

.social li:active a {
	opacity: 0.1;
}




.main_footer .copyright {
	display: block;
	width: 27px;
	height: 35px;
	margin-top: -2px;

	background: url(../img/logo_html.svg) no-repeat;
}

.main_footer .copyright:hover {
	opacity: 0.6;
}

.main_footer .copyright:active {
	opacity: 0.3;
}







main {
	width: 1445px;
}

.slider {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	padding: 0 142.5px;
}

.slider .top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
			-ms-flex-pack: end;
					justify-content: flex-end;
	height: 112px;
	background-color: #f7e296;
}

.slider .number {
	position: relative;
	z-index: 1;

	margin: 0;
	margin-top: -25px;
	margin-right: 50px;
	padding: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 179.2px;
	font-weight: 800;  
	
	color: #ffffff;
}

.slider .description::before {
	content: "";

	position: absolute;
	top: 37px;
	left: 0px;

	display: block;
	width: 100px;
	height: 7px;
	background-color: #ffffff; 
}

.slider .middle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: -110px;
	padding-right: 60px;
}

.slider img {
	margin: auto;
	/*margin-top: -80px;*/
	
	
}

.slider .description {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 500px;
	padding-top: 80px;
	margin-left: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
} 

.slider b {
	position: relative;
	z-index: 2;

	width: 100%;
	margin-bottom: 5px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;  
	line-height: 1.19;
	letter-spacing: 0.5px;
	
	color: #000000;
}

.slider p {
	margin-bottom: 40px;
	
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	
	line-height: 2;
	
	color: #464646;
}

.slider .buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slider .button {
	width: 220px;
	margin-bottom: 55px;
	/*margin-right: 170px;*/
}

.slider .switch {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: auto;
	margin-top: 17px;
	padding-right: 25px;
}

.slider .switch a {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	display: block;
	width: 12px;
	height: 12px;
	margin-right: 21px;

	background: url(../img/slider_button.svg) no-repeat;
}

.slider .switch a:last-of-type {
	margin-right: 0;
}

.slider a.current_slide {
	position: relative;

	display: block;
	width: 12px;
	height: 12px;

	background: url(../img/slider_button_check.svg) no-repeat;
}


.slider .table {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.slider .table p {
	margin: 0;
	margin-right: 76px;
	padding: 0;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 300;
	
	line-height: 1.54;
	letter-spacing: 0.1px;
	
	color: #464646;

}

.slider p:last-of-type {
	margin-right: 0;
}

.slider .table span {
	display: block;
	padding: 0;
	margin: 0;
	margin-bottom: -15px; 

	font-size: 36px;
	font-weight: 300;
	font-family: "Gilroy", "Arial", sans-serif;
	line-height: 1.33;
	letter-spacing: 0.4px;
	
	color: #000000;
}

.mini_menu {
	padding: 0 144px;
	margin-top: 105px;
	margin-bottom: 65px;
}

.mini_menu .list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	padding: 0;
	margin: 0;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;

	list-style-type: none;
}

.mini_menu li {
	width: 160px;
}

.mini_menu .picture {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	-webkit-box-pack: center;
			-ms-flex-pack: center;
					justify-content: center;
	width: 160px;
	height: 160px;
	margin-bottom: 35px;

	background-color: #f7e296;
}

.mini_menu .picture::before {
	content: "";

	position: absolute;

	display: block;

}

.virtual_reallity .picture::before {
	left: 31px;
	top: 52px;

	width: 97px;
	height: 55px;
	background: url(../img/popular-1.svg) no-repeat;
}

.monopod .picture::before {
	left: 38px;
	top: 41px;

	width: 86px;
	height: 117px;
	background: url(../img/popular-2.svg) no-repeat;
}

.action .picture::before {
	left: 49px;
	top: 38px;

	width: 71px;
	height: 87px;
	background: url(../img/popular-3.svg) no-repeat;
}

.bracer .picture::before {
	left: 28px;
	top: 50px;

	width: 107px;
	height: 65px;
	background: url(../img/popular-4.svg) no-repeat;
}

.watch .picture::before {
	left: 55px;
	top: 32px;

	width: 56px;
	height: 98px;
	background: url(../img/popular-5.svg) no-repeat;
}

.quadro .picture::before {
	left: 13px;
	top: 49px;

	width: 132px;
	height: 69px;
	background: url(../img/popular-6.svg) no-repeat;
}

.mini_menu p {	
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	
	line-height: 1.33;
	letter-spacing: 0.2px;
	
	color: #000000;
}

.mini_menu li:hover .picture {
	background-color: #f0c52e;
}

.mini_menu li:active .picture::before,
.mini_menu li:active p {
	opacity: 0.3;
}

.mini_menu li:active .picture {
	background-color: #f0c52e;
}








.slider_features {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	padding: 0 145px;
	padding-bottom: 65px;
	margin-bottom: 95px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;

	background-image: -webkit-linear-gradient(top, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);

	background-image: -o-linear-gradient(top, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);

	background-image: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
}



.slider_features ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	min-width: 280px;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	padding-bottom: 50px;

	border-right: 7px solid #000000;
	list-style: none;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.slider_features .button {
	position: relative;
	z-index: 1;

	width: 160px;
	min-height: 40px;
	margin-bottom: 23px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
 
	line-height: 1.33;
	letter-spacing: 3.6px;
	
}

.slider_features .button:active::after {

	width: 278px;

	background-color: #000000;
}

.slider_features .button:active,
.slider_features .button.current {
	color: #f7e184;
}

.slider_features .button.current::after {
	top: 0;

	width: 278px;
	height: 100%;

	background-color: #000000;
}

.slider_features .slide {
	position: relative;

	width: 440px;
	margin-left: 120px;
	padding-top: 75px;
}

.slider_features .slide::after {
	content: "";

	position: absolute;
	right: -253px;
	top: 65px;

	display: block;	
}

.slider_features .first::after {
	top: 85px;
	width: 136px;
	height: 164px;

	background: url(../img/delivery.svg) no-repeat;
}

.slider_features .second::after {
	width: 170px;
	height: 194px;

	background: url(../img/warranty.svg) no-repeat;
}

.slider_features .third::after {
	width: 156px;
	height: 186px;

	background: url(../img/credit.svg) no-repeat;
}

.slider_features h2 {
	margin: 0;
	margin-bottom: 30px;
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	
	line-height: 1.02;
	letter-spacing: 0.5px;
	
	color: #000000;
}

.slider_features p {
	padding: 0;
	margin: 0;
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	
	line-height: 2;

	color: #464646;
}


.companies {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;

	margin-bottom: 93px;
	padding: 0 145px;
	
}

.companies img {
	width: 100%;
	height: auto;

}

.companies a {
	position: relative;
}

.companies a::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	display: block;
	width: 260px;
	height: 100px;

	background-color: rgba(255, 255, 255, 0.8);

}

.companies a:hover::before {
	display: none;
}


.more_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
			-ms-flex-pack: justify;
					justify-content: space-between;
	padding: 0 141px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.more_info .about_us,
.more_info .contacts {
	position: relative;

	padding-top: 10px;
}

.more_info .about_us::before,
.more_info .contacts::before {
	content: "";

	position: absolute;
	left: 0;
	top: -2px;

	width: 80px;
	height: 7px;

	background-color: #000000;
}

.more_info .about_us {
	width: 480px;
}

.more_info .about_us p:first-of-type {
	margin-bottom: 30px;
}

.more_info .about_us p:last-of-type {
	margin-bottom: 65px;
}

.more_info .contacts {
	width: 565px;
}

.more_info .contacts p:first-of-type {
	margin-bottom: 40px;
}

.contacts img {
	margin-bottom: 53px ;
}

.more_info h2 {
	margin-bottom: 45px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	
	line-height: 1.02;
	letter-spacing: 0.5px;
}

.more_info p {
	margin: 0;
	padding: 0;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 15px;
	font-weight: 300;
	
	line-height: 2;
	
	color: #464646;
}

.about_us ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	margin-bottom: 55px;

	list-style: none;
}

.about_us li::before {
	content: "";

	position: absolute;
	top: 17px;
	left: -20px;

	-webkit-box-sizing: border-box;

					box-sizing: border-box;
	display: block;
	width: 8px;
	height: 8px;

	border: 2px solid #e5e5e5;
	border-radius: 10px;
}

.about_us li {
	position: relative;
	padding-left: 15px;
	margin-bottom: 0px;
}

.more_info a {
	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 2.5;
}

.more_info .button {
	width: 260px;
	margin: 0;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	
	line-height: 1.33;
	letter-spacing: 3.6px;
}

.contacts .button {
	margin-left: 5px;
}





main.inner {
	width: 1440px;
}

.inner .page_name {
	padding: 0 200px;
	margin-bottom: 46px;
}

.page_name h1 {
	margin: 0;
	padding: 0;
	margin-top: 38px;
	margin-bottom: 25px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 47px;
	font-weight: 800;
	letter-spacing: 0.5px;
	
	line-height: 1.02;    
}

.breadcrumbs li {
	position: relative;

	margin-right: 38px;
}

.breadcrumbs ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.breadcrumbs li::before {
	content: "";

	position: absolute;
	left: -23px;
	top: 8px;

	display: block;
	width: 4px;
	height: 7px;

	background: url(../img/nav_arrow.svg) no-repeat;
}

.breadcrumbs li:first-of-type::before {
	display: none;
}

.breadcrumbs a {

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
 
	line-height: 1.71;
	letter-spacing: 0.1px;
 
	color: rgba(0, 0, 0, 0.3);

 
}

.breadcrumbs li:hover a {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs li:active a {
	color: rgba(0, 0, 0, 0.1);
}




.inner .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}



.inner .filter {
	display: block;
	width: 468px;
	margin-bottom: 5px;

	background-color: #eeeeee;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
} 

.container ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.inner .filter > div {
	display: block;
	padding: 23px 0;
	padding-left: 200px;
	background-color: #dbdbdb;

	-webkit-box-sizing: border-box;

					box-sizing: border-box;
}

.filter > div b,
.sort b {
	text-transform: uppercase;
}

.inner b {

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
 
	line-height: 1.5;

	letter-spacing: 3.2px;
}

.filter_inner {
	width: 200px;
	padding-top: 73px;
	padding-left: 198px;
	padding-right: 70px;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	
	line-height: 2.86;
}

.filter_inner b {
	position: relative;
	
	display: inline-block;
	margin-bottom: 20px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;

	letter-spacing: 0.2px;	
	line-height: 1.33;
	vertical-align: center;
}

.filter_inner b::before {
 content: "";

 position: absolute;
 left: 0;
 top: -13px;

 display: block;
 width: 200px;
 height: 2px;

 background-color: #000000;

}

.filter_inner .price {
	position: relative;


	margin-bottom: 72px;
}

.price b {
	margin-bottom: 30px;
}

.filter_inner .scale {
	margin-top: 5px;
	width: 196px;
	height: 2px;
	background-color: #dbdbdb;
}

.filter_inner .bar {
	width: 110px;
	height: 2px;
	background-color: #91c92f;
}

.filter_inner .price_range {
	position: relative;

	display: block;
}
.price_range_min {
	margin-left: -5px;
}

.price_range_max {
	margin-left: 110px;
}



.filter_inner .toggle {
	position: absolute;
	top: -10px;

	display: block;
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
					box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 10px;

	cursor: pointer;
}


.filter_inner .range {
	position: absolute;
	top: 10px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 300;
	
	line-height: 1.71;
	color: rgba(0, 0, 0, 0.2);
}

.filter_inner .range_max {
	left: -17px;
}

.filter_inner .range_min {
	left: 5px;
}





.filter_inner .color {
	margin-bottom: 35px; 
	
}

.filter_inner .bluetooth {
	margin-bottom: 30px;
}


.filter_inner ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
}

.color_list label {
	position: relative;

	padding-left: 40px;
}


.color_list input[type="checkbox"] + .checkbox_indicator {
	position: absolute;
	top: -3px;
	left: 0px;
	display: block;
	width: 23px;
	height: 23px;

	background: url(../img/checkbox.svg) no-repeat;

	

	-webkit-box-sizing: border-box;

	

					box-sizing: border-box;
}

.color_list input[type="checkbox"]:hover + .checkbox_indicator,
.color_list input[type="checkbox"]:focus + .checkbox_indicator,
.color_list input[type="checkbox"]:checked:hover + .checkbox_indicator,
.color_list input[type="checkbox"]:checked:focus + .checkbox_indicator,
.bluetooth input[type="radio"]:hover + .radio_indicator,
.bluetooth input[type="radio"]:focus + .radio_indicator,
.bluetooth input[type="radio"]:checked:hover + .radio_indicator,
.bluetooth input[type="radio"]:checked:focus + .radio_indicator {
	opacity: 0.6;
}

.color_list input[type="checkbox"]:checked + .checkbox_indicator {
	width: 26px;
	border: none;
	background: url(../img/checkbox_on.svg) no-repeat;

}


.bluetooth label {
	position: relative;

	padding-left: 40px;
}

.block input[type="checkbox"] + .checkbox_indicator,
.block input[type="radio"] + .radio_indicator {
	opacity: 0.25;	
}

.block {
	color: #a6a6a6;
}

.block input[type="checkbox"]:hover + .checkbox_indicator,
.block input[type="radio"]:hover + .radio_indicator {
	opacity: 0.25;
}



.bluetooth input[type="radio"] + .radio_indicator {
	position: absolute;
	top: -4px;
	left: 0px;
	display: block;
	width: 25px;
	height: 25px;

	background: url(../img/radio.svg) no-repeat;

	

	-webkit-box-sizing: border-box;

	

					box-sizing: border-box;
}


.bluetooth input[type="radio"]:checked + .radio_indicator {
	width: 26px;
	border: none;
	background: url(../img/radio_on.svg) no-repeat;

}



.filter_inner .button {
	z-index: 0;

	width: 200px;
	padding: 0;
}

.filter_inner .button::after {
	top: 16px;
	z-index: -1;
}

.items_list {
	width: 100%;
}

.items_list .sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 23px 0;
	padding-left: 75px;
	padding-right: 138px;

	background-color: #ebebeb;

}

.items_list .sort b {
	margin-right: 52px;
}

.sort_by li {
	margin-right: 30px;
}

.sort_by li:last-of-type {
	margin-right: 0px;
}

.sort_by a {
	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;  
	line-height: 1.29;
	
	 color: rgba(0, 0, 0, 0.3);
}

.sort_by a:hover {
	color: rgba(0, 0, 0, 0.6);
}

.sort_by a.active,
.sort_by li:active a {
	color: #000000;
}

.items_list .peak {
	margin-left: auto;
	-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
}

.items_list .peak a {
	display: block;
	width: 11px;
	height: 10px;
}

.items_list .peak li:first-of-type a {
	margin-right: 20px;
	opacity: 0.2;
	background: url(../img/icon_up.svg) no-repeat;
}

.items_list .peak li:last-of-type a {
	opacity: 0.2;
	background: url(../img/icon_down.svg) no-repeat;
}



.items_list .peak li:hover a {
	opacity: 0.4;
}

.items_list .peak li.active a,
.items_list .peak li:active a {
	opacity: 1;
}


ul.inner_catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	width: 970px;
	padding-top: 70px;
	padding-left: 72px;
	padding-bottom: 75px;

	-webkit-box-sizing: border-box;

					box-sizing: border-box;
}


.inner_catalog .item {
	position: relative;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	margin-right: 40px;
	margin-bottom: 48px;
}

.inner_catalog .item_img {
	position: relative;
	margin-bottom: 30px;
}

.item .item_img:hover .hover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.item .hover {
	position: absolute;
	z-index: 1;
	top: 0;
	
	display: none;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
	-webkit-box-align: center;
			-ms-flex-align: center;
					align-items: center;
	padding-top: 170px;
	width: 100%;
	height: 380px;

	background-color: rgba(238, 238, 238, 0.7);
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

.item .hover .button {
	z-index: 0;

	width: 200px;
	margin-left: 5px;
}

.item .hover .add_to_compare {
	margin-top: 5px;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 13px;
	font-weight: 300;
	font-style: normal;
	
	line-height: 2.77;
	
	color: rgba(0, 0, 0, 0.5);
}

.item .add_to_compare:hover {
	color: #000000;
}

.item .add_to_compare:active {
	opacity: 0.2;
}


.inner_catalog .description a {
	display: inline-block;
	width: 260px;

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
	
	line-height: 1.33;
	letter-spacing: 0.2px;
	vertical-align: center;
	
 
	color: #000000;
}
.inner_catalog .description span {
	display: block;
	float: right;


	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 300;
 
	line-height: 1.5;
	
	color: #464646;
}

.new_item {
	position: absolute;
	top: 28px;
	right: 27px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;

	padding: 18px 12px;
	width: 60px;
	height: 61px;
	background-color: transparent;
	border: solid 2px rgba(0, 0, 0, 0.1);
	border-radius: 50%;


	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 800;
 
	line-height: 1.71;
	letter-spacing: 0.7px;
	
	color: rgba(0, 0, 0, 0.2);
}




.paginator {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: 72px;
	width: 760px;
	margin-top: -88px;
	margin-bottom: 78px;

	background-color: #ebebeb;


	-webkit-box-sizing: border-box;

					box-sizing: border-box;
}

.paginator .back,
.paginator .next {
	display: block;
	width: 126px;
	height: 70px;  
	padding-top: 24px;

	text-align: center;

	-webkit-box-sizing: border-box;

					box-sizing: border-box;
}

.paginator .back:hover,
.paginator .next:hover {
	background-color: #d9d9d9;
}

.paginator .back:active,
.paginator .next:active {
	color: rgba(0, 0, 0, 0.3);
}


.paginator .next {
	margin-left: auto;
}

.paginator .pages {
	margin-left: auto;
}

.paginator li {
	margin-right: 28px;
}

.paginator li:last-of-type {
	margin-right: 0;
}

.paginator a {

	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 800;
	
	line-height: 1.5;
	letter-spacing: 3.2px;

	text-transform: uppercase;
	
}

.paginator .pages {
	padding-top: 25px; 
}

.pages a {
	color: rgba(0, 0, 0, 0.3);
}

.pages a:hover {
	color: rgba(0, 0, 0, 0.7);
}

.pages a:active {
	color: #000000;
}

.pages .current {
	color: #000000;
}

.pages .current:hover {
	color: #000000;
}






.inner_footer {
	margin-top: 0px;
	padding-top: 68px;
}

.inner_footer .log_in {
 width: 40px;
}

.modal_popup {
	position: fixed;
	z-index: 100000000;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);

	display: block;
	
	

}

.write_popup {
	padding: 100px;
	padding-bottom: 80px;

	background-color: #ffffff;
	-webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
					box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);


	font-family: "Gilroy", "Arial", sans-serif;
	font-size: 18px;
	font-weight: 800;
 
	line-height: 1.33;
}

.modal_popup form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
			flex-wrap: wrap;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
			-ms-flex-direction: column;
					flex-direction: column;
}

.write_popup .before_text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.write_popup .name,
.modal_popup .e-mail {
	width: 360px;
	height: 50px;
}

.modal_popup .name input,
.modal_popup .e-mail input,
.modal_popup .message textarea {
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	margin-top: 5px;
	padding: 20px;
	width: 100%;
	height: 100%;

	border: none;
	background-color: #f2f2f2;

	font-family: "OpenSans", "Arial", sans-serif;
	font-size: 14px;  
	line-height: 1.29;
 
	color: rgba(70, 70, 70, 0.4);
}

.write_popup .name {
	margin-right: 40px;
}

.write_popup .message {
	display: block;
	margin-top: 50px;
	width: 760px;
	min-height: 155px;

}

.write_popup .message textarea {
	
	width: 760px;
	height: 155px;
	resize: none;
}

.write_popup .name:hover input,
.write_popup .e-mail:hover input,
.write_popup .message:hover textarea {
	background-color: #eaeaea;
}

.write_popup .name input:focus,
.write_popup .e-mail input:focus,
.write_popup .message textarea:focus {
	background-color: #ffffff;
	border: solid 3px #f0c52e;
	outline: none;
	color: #000000;
}

.write_popup .invalid input,
.write_popup .invalid textarea {
	background-color: #edb5b5;
	opacity: 0.5;
}

.write_popup .button {
	width: 200px;
	margin-top: 30px;
	padding: 0;
}

.popup_close {
	position: absolute;
	top: 22px;
	right: 22px;

	width: 55px;
	height: 55px;

	border: none;
	background-color: #f0c52e;
	opacity: 0.5;
	border-radius: 30px;
}

.popup_close:hover {
	opacity: 1;
}

.popup_close:active {
	opacity: 0.3;
}

.popup_close::before,
.popup_close::after {
	content: "";

	position: absolute;
	top: 26px;
	right: 12px;

	width: 30px;
	height: 2px;

	background-color: #ffffff;
}

.popup_close::before {
	-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
					transform: rotate(45deg);
}

.popup_close::after {
	-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
}

.map_popup {
	width: 960px;
	height: 559px;
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
	-webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
					box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
}

.none {
	display: none;
}